.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Add-Task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 30px;
  background-color: rgb(158, 222, 200);
}

.Add-Task button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 10px; */
  font-size: large;
}

.Add-Task button:hover {
  background-color: #ddd;
}

.Add-Task input {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  cursor: text;
  font-size: large;
  margin-right: 5px;
}

.Add-Task ul {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* width: 100%; */
  font-size: large;
  padding: 0;
  list-style: disc inside;
}
