.dropdown {
    display: flex;
    flex-direction: column;
    width: 100px;
    max-width:100%;
    position: relative;
    border-radius: 5px;
    align-self: center;
    font-size: large;
    margin-right: 5px;
}

.dropdown .options {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    max-width: max-content;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.dropdown .options.visible {
    opacity: 1;
    visibility: visible;
}

.dropdown .toggle {
    height: 37px;
    box-sizing: border-box;
}

dropdown .toggle, .dropdown .options button {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #eee;
    transition: background-color 0.05s ease;
    cursor: pointer;
}

.dropdown .options button {
    border-top: 0;
}

.dropdown .options button.selected {
    background-color: #ddd;
    cursor: default;
}

.dropdown .options button:hover {
    background-color: #ddd;
}

.dropdown .toggle:hover {
    background-color: #ccc;
}